<div class="text-center col-md-12 home-ad-1 hidden-xs">
    <!-- NetShoes camisas-->
    <a href="http://ad.zanox.com/ppc/?32211349C1524647067T"><img src="http://ad.zanox.com/ppv/?32211349C1524647067" align="bottom" width="728" height="90" border="0" hspace="1" alt="GIF 728x90 - Futebol"></a>
</div>
<div class="text-center col-md-12 hidden-sm hidden-md hidden-lg">
    @Html.Partial("_adQuadrado1")
</div>
