<div id="adQuadrado5" class="text-center">
    <!--Netshoes 2-->
    <a href="http://ad.zanox.com/ppc/?32296634C1529264077T"><img src="http://ad.zanox.com/ppv/?32296634C1529264077" align="bottom" width="260" height="255" border="0" hspace="1" alt="260x255_zanox_Oferta da Semana2"></a>
</div>