<div id="adQuadrado1" class="text-center">
    <!--Nike 1-->
    <a href="http://ad.zanox.com/ppc/?32211304C1280617567T"><img src="http://ad.zanox.com/ppv/?32211304C1280617567" align="bottom" width="300" height="250" border="0" hspace="1" alt="JPG CR7 300x250"></a>
</div>