<div id="adQuadrado3" class="text-center">
    <!--Nike 2-->
    <a href="http://ad.zanox.com/ppc/?32211308C1736416639T"><img src="http://ad.zanox.com/ppv/?32211308C1736416639" align="bottom" width="300" height="250" border="0" hspace="1" alt="JPG Corrida 300x250"></a>
</div>