<div id="adQuadrado6" class="text-center">
    <!-- Banner Nome: scouts1 -->
    <script id='afl_30635' type='text/javascript'>
    var pTitle = document.title, aflDate = new Date(), new_js = document.createElement('script');
    new_js.type = 'text/javascript'; new_js.async = true;
    new_js.src = 'http://img.afiliados.com.br/banner_creator/loader2.php?aflDate='+aflDate.getHours()+'&banner=30635&franq=AFL-03-137606&title='+ pTitle +'&url=' +document.URL;
    document.write(new_js.outerHTML);
    </script>
</div>