<div id="adQuadrado2" class="text-center">
    <!--Netshoes 1-->
    <a href="http://ad.zanox.com/ppc/?32211315C450358828T"><img src="http://ad.zanox.com/ppv/?32211315C450358828" align="bottom" width="300" height="250" border="0" hspace="1" alt="GIF 300x250 - Futebol."></a>
</div>