<div id="adQuadradoMini1" class="text-center home-ad-2 hidden-xs">
    <div class="col-md-6">
        <!-- Banner Nome: btnHome -->
        <script id='afl_30638' type='text/javascript'>
            var pTitle = document.title, aflDate = new Date(), new_js = document.createElement('script');
            new_js.type = 'text/javascript';
            new_js.async = true;
            new_js.src = 'http://img.afiliados.com.br/banner_creator/loader2.php?aflDate=' + aflDate.getDate() + aflDate.getHours() + '&banner=30638&franq=AFL-03-137606&title=' + pTitle + '&url=' + document.URL;
            document.write(new_js.outerHTML);
        </script>
    </div>
    <div class="col-md-6">
        <!-- Banner Nome: btnHome2 -->
        <script id='afl_30639' type='text/javascript'>
            var pTitle = document.title, aflDate = new Date(), new_js = document.createElement('script');
            new_js.type = 'text/javascript';
            new_js.async = true;
            new_js.src = 'http://img.afiliados.com.br/banner_creator/loader2.php?aflDate=' + aflDate.getDate() + aflDate.getHours() + '&banner=30639&franq=AFL-03-137606&title=' + pTitle + '&url=' + document.URL;
            document.write(new_js.outerHTML);
        </script>
    </div>
</div>
<div class="text-center col-md-12 hidden-sm hidden-md hidden-lg">
    @Html.Partial("_adQuadrado2")
</div>
