@using Cartoleiro.Web.Models

@{
    var time = ViewData.GetTimeEscalado();
}
@if (time != null)
{
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Posição</th>
                <th>Nome</th>
                <th>C$</th>
                <th>Média</th>
            </tr>
        </thead>
        @foreach (var jogador in time.TodosJogadores)
        {
            <tr>
                <td>@jogador.Posicao</td>
                <td>@jogador.Nome</td>
                <td>@jogador.Preco.Atual.ToString("F")</td>
                <td>@jogador.Pontuacao.Media.ToString("F")</td>
            </tr>
        }
    </table>
}
