@model Cartoleiro.Core.Escalador.Time

@if (Model != null)
{
    @Html.Partial("_TabelaJogadores", Model.TodosJogadores)
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Custo e pontuação</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3 text-right">Custo do time:</div>
                <div class="">C$ @Model.TodosJogadores.Sum(j => j.Preco.Atual)</div>
            </div>
            <div class="row">
                <div class="col-md-3 text-right">Pontuação na última rodada:</div>
                <div class="">@Model.TodosJogadores.Sum(j => j.Pontuacao.Ultima) pontos</div>
            </div>
        </div>
    </div>
}
