body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.nopadding {
    padding: 0 !important;
}

.nomargin {
    margin: 0 !important;
}

.home-ad-1 {
    height: 140px;
    margin-top: 10px;
}

.home-ad-2 {
    height: 100px;
    margin-top: 10px;
}

.panel-clubes {
    margin-top: 10px;
    margin-bottom: -10px;
    text-align: center;
}

.panel-clubes-clube {
    float: left;
    width: 5%;
}

.table-cartoleiro > tbody > tr > td {
    padding: 5px 8px;
    vertical-align: middle;
}

.table-cartoleiro a:not(.btn) {
    color: #000;
}

    .table-cartoleiro a:not(.btn):hover,
    .table-cartoleiro a:not(.btn):focus {
        color: #dd4814;
    }

/* escalador */
.escalador-form-ad1 {
    float: left;
    position: absolute;
    top: -286px;
    left: 510px;
    margin: 0 10px;
}

.escalador-form-ad2 {
    float: left;
    position: absolute;
    top: -286px;
    left: 830px;
    margin: 0 10px;
}

/* scouts ao vivo */
.panel-partida {
    margin: 10px;
}

    .panel-partida > .panel-body {
        padding: 20px 10px;
    }

.panel-partida-placar {
    font-size: 18px;
}

.media-jogador > span {
    font-size: 90%;
}

.media-jogador > strong {
    font-size: 15px;
}

.media-jogador > .badge {
    margin-top: -8px;
}

.media-clube > strong {
    font-size: 15px;
}

.icone-circulo {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 5px 5px 0 0;
    display: inline-block
}
.icone-circulo-vitoria {
    background-color: #51a81e;
}
.icone-circulo-empate {
    background-color: #ccc;
}
.icone-circulo-derrota {
    background-color: #f00;
}
.btn-jogos-zoom {
    margin-left: 30px;
}
#wrap .popover {
    width: 200px;
}

.countdown {
    float: left;
    margin-left: 48.5%;
    margin-top: -33px;
    font-size: 16px;
}

.scouts-aovivo {
    width: 91.5%;
    margin-top: 20px;
}

.scouts-confronto {
    width: 91.1%;
    margin-top: 20px;
}

.panel-scouts-confronto {
    font-size: 28px;
    text-align: center;
    margin-left: 10px;
}

    .panel-scouts-confronto a {
        color: #000;
    }

        .panel-scouts-confronto a:visited {
            color: #000;
        }

        .panel-scouts-confronto a:hover,
        .panel-scouts-confronto a:focus {
            color: #dd4814;
        }

    .panel-scouts-confronto > .panel-body {
        padding: 20px 10px;
    }

.panel-scouts-confronto-mandante {
    width: 45%;
    text-align: right;
    float: left;
    margin-right: 15px;
}

.panel-scouts-confronto-visitante {
    /*width: 44%;*/
    text-align: left;
    float: left;
    margin-left: 15px;
}

.scouts-lista-time {
    padding-right: 0;
}

.scouts-lista-time-casa {
    margin-left: -5px;
    margin-right: 5px;
}

.scouts-lista-time-total {
    font-size: 14px;
}

/* efeitos css 3 */
.flash {
    -moz-animation: flash 1s ease-out;
    -moz-animation-iteration-count: 1;
    -webkit-animation: flash 1s ease-out;
    -webkit-animation-iteration-count: 1;
    -ms-animation: flash 1s ease-out;
    -ms-animation-iteration-count: 1;
}

@-webkit-keyframes flash {
    0% {
        background-color: none;
    }

    50% {
        background-color: rgb(255, 240, 220);
    }

    100% {
        background-color: none;
    }
}

@-moz-keyframes flash {
    0% {
        background-color: none;
    }

    50% {
        background-color: rgb(255, 240, 220);
    }

    100% {
        background-color: none;
    }
}

@-ms-keyframes flash {
    0% {
        background-color: none;
    }

    50% {
        background-color: rgb(255, 240, 220);
    }

    100% {
        background-color: none;
    }
}

body {
    padding-top: 50px;
}

    body > .navbar {
        -webkit-transition: background-color 300ms ease-in;
        transition: background-color 300ms ease-in;
    }

@media (min-width:768px) {
    body > .navbar-transparent {
        background-color: transparent;
        border-color: transparent;
    }

        body > .navbar-transparent .navbar-nav > .open > a {
            background-color: transparent !important;
            border-color: transparent !important;
        }
}

#home {
    padding-top: 0;
}

    #home .navbar-brand {
        padding: 13.5px 15px 12.5px;
    }

        #home .navbar-brand > img {
            display: inline;
            margin: 0 10px;
            height: 100%;
        }

#banner {
    min-height: 300px;
    border-bottom: none;
}

.page-header h1 {
    font-size: 4em;
}

.bs-docs-section {
    margin-top: 8em;
}

.bs-component {
    position: relative;
}

    .bs-component .modal {
        position: relative;
        top: auto;
        right: auto;
        left: auto;
        bottom: auto;
        z-index: 1;
        display: block;
    }

    .bs-component .modal-dialog {
        width: 90%;
    }

    .bs-component .popover {
        position: relative;
        display: inline-block;
        width: 220px;
        margin: 20px;
    }

#source-button {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    font-weight: 700;
}

.nav-tabs {
    margin-bottom: 15px;
}

.progress {
    margin-bottom: 10px;
}

footer {
    margin: 5em 0;
}

    footer li {
        float: left;
        margin-right: 1.5em;
        margin-bottom: 1.5em;
    }

    footer p {
        clear: left;
        margin-bottom: 0;
    }

.splash {
    padding: 9em 0 2em;
    background-color: #141d27;
    background-image: url(../Images/bg_cabecalho_novo.png);
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    text-align: center;
}

    .splash .logo {
        width: 160px;
    }

    .splash h1 {
        font-size: 3em;
    }

    .splash #social {
        margin: 2em 0;
    }

    .splash .alert {
        margin: 2em 0;
    }

.section-tout {
    padding: 4em 0 3em;
    border-bottom: 1px solid rgba(0,0,0,.05);
    background-color: #eaf1f1;
}

    .section-tout .fa {
        margin-right: .5em;
    }

    .section-tout p {
        margin-bottom: 3em;
    }

.section-preview {
    padding: 4em 0 4em;
}

    .section-preview .preview {
        margin-bottom: 4em;
        background-color: #eaf1f1;
    }

        .section-preview .preview .image {
            position: relative;
        }

            .section-preview .preview .image:before {
                box-shadow: inset 0 0 0 1px rgba(0,0,0,.1);
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                content: "";
                pointer-events: none;
            }

        .section-preview .preview .options {
            padding: 1em 2em 2em;
            border: 1px solid rgba(0,0,0,.05);
            border-top: none;
            text-align: center;
        }

            .section-preview .preview .options p {
                margin-bottom: 2em;
            }

    .section-preview .dropdown-menu {
        text-align: left;
    }

    .section-preview .lead {
        margin-bottom: 2em;
    }

@media (max-width:767px) {
    .section-preview .image img {
        width: 100%;
    }
}

.sponsor {
    text-align: center;
}

    .sponsor a:hover {
        text-decoration: none;
    }

@media (max-width:767px) {
    .splash {
        padding-top: 4em;
    }

        .splash .logo {
            width: 100px;
        }

        .splash h1 {
            font-size: 2em;
        }

    #banner {
        margin-bottom: 2em;
        text-align: center;
    }
}
