
@{
    ViewBag.Title = "AguardandoInicioDoCampeonato";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="page-header">Aguardando o início do Campeonato Brasileiro de 2016...</h2>
<a class="btn btn-primary" href="@Url.Action("Index", "Home")">Voltar</a>


