@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title.</h2>
<h3>Thiago Menezes</h3>

<p>Quer colaborar com o projeto ou tem alguma sugestão, entre em contato comigo nos endereços abaixo:</p>
<address>
    <strong>Twitter:</strong> <a href="https://twitter.com/tmenezes">@@tmenezes</a><br />
    <strong>facebook:</strong> <a href="https://www.facebook.com/thiago.tmenezes">Thiago Menezes</a><br />
</address>

<address>
    <strong>E-mail:</strong> <a href="mailto:analista.net@outlook.com">analista.net@outlook.com</a><br />
    <strong>E-mail:</strong> <a href="mailto:thiagomenezes2k7@gmail.com">thiagomenezes2k7@gmail.com</a>
</address>